# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Outputs
outputs/

# Model weights
*.pt

# Large videos
vids/

# Testing
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/